.cards-section {
  width: 100%;
  padding: 120px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 165, 60, 0.55) 0%,
    rgba(255, 165, 60, 0.35) 25%,
    rgba(255, 165, 60, 0.18) 45%,
    rgba(255, 165, 60, 0.08) 60%,
    #fff7ec 75%
  );
}

.section-heading {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 60px;
  color: #331a09;
  text-align: center;
}

.card {
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  gap: 30px;
  transform: translateY(50px);
  opacity: 0;
display: block;
  position: relative;
  text-align: center;
  padding: 20px 0px;
  width:100%;
  max-width:100vw;
}

.card-number {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  flex-shrink: 0;
  text-orientation: mixed;
  margin-right: 20px;
  position: absolute;
  top: 30px;
  left: 30px;

  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(44, 23, 8, 0.7);
}

.card-content {
  display: flex;
  flex-direction: column;
  max-width: 680px;
  margin: 0 auto;
}

.card-content h2 {
  margin: 0 0 10px 0;
  color: #331a09;
  font-weight: 500;
  margin-bottom: 2rem;
  position: absolute;
  transform: translateX(-50%);
  margin: 0;
  font-size: clamp(3rem, 6vw, 5rem);
  top: 0px;
  left: 450px;
  text-align: left;
}

.card-content p {
  margin: 0;
  font-size: 1rem;
  position: absolute;
  top: 150px;
  left: 200px;
  text-align: left;
  white-space: pre-line; /* respects \n characters */
  line-height: 1.7;
  color: rgba(51, 26, 9, 0.75);
}

.card.white {
  background: #ffffff;
}

.card.yellow {
  background: rgba(255, 217, 61, 0.7);
}




@media (max-width: 768px) {
  .card {
    padding: 50px 30px;
    min-height: auto;
    text-align: left;
    
  }

}

