.nav-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
   background: radial-gradient(
    ellipse at center,
    rgba(255, 165, 60, 0.55) 0%,
    rgba(255, 165, 60, 0.35) 25%,
    rgba(255, 165, 60, 0.18) 45%,
    rgba(255, 165, 60, 0.08) 60%,
    #fff7ec 75%
  );
  font-family: "Arial", sans-serif;
  color: #3b1f00; /* brown color for links */
}

.nav-links {
  position: absolute;
  top: 2rem;
  right: 25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 10;
  line-height: 28px;
}

.nav-links a {
  color:  rgba(62, 24, 6,0.8);
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #6b3b00;
}

.nav-background-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20vw;
  font-weight: 600;
  color: rgba(62, 24, 6); /* subtle background text */
  pointer-events: none;
  user-select: none;
  white-space: nowrap;
  letter-spacing: -10px;
}

.nav-video-wrapper {
  position: absolute;
  bottom:0%;
  left: 50%;
  transform: translateX(-50%);
aspect-ratio: 16 / 9;
  z-index: 5;
  width: 60%;
  max-width: 250px;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}

.nav-video-wrapper video {
  width: 100%;
  height: auto;
  display: block;
}


