.solution-title {
  font-size: clamp(48px, 18vw, 210px); 
  letter-spacing: -0.05em;
  font-family: "Inter", sans-serif;
  font-size: 210px;
  font-weight: 550;
  color: #ff4d00;
  z-index: 2;
}



.solution-section {
  position: relative;
  min-height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  overflow: hidden;
}



.video-wrapper {
  background: transparent;
  border-radius: none;
  overflow: hidden;
  position: absolute;
  top:50%;
  z-index: 3;
  box-shadow: none;
  width: clamp(280px, 60vw, 560px);   
  height: 600px; 
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  object-position: center -12%; 
}



.solution-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 135vw;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.95); 
  border-radius: 24px;
transform-origin: center; 
transform-origin: center center;
z-index: 1;

 
}


.solution-text-box {
  position: absolute;
  right: 5px;
  bottom: 5px;
  max-width: 330px;
  padding: 24px;
  background: transparent;
  border-radius: none;
  z-index: 1;
  box-shadow:none;
  font-size: 15px;
  font-weight: 500;
  color: #280303;
  font-family: "Inter", sans-serif;
  line-height: 1;
  
}

.solution-bg {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 165, 60, 0.55) 0%,
    rgba(255, 165, 60, 0.35) 25%,
    rgba(255, 165, 60, 0.18) 45%,
    rgba(255, 165, 60, 0.08) 60%,
    #fff7ec 75%
  );
  filter: blur(20px);
  z-index: 0;
}

.panel-title {
  font-family: "Inter", sans-serif;
  font-size: clamp(24px, 6vw, 85px);
  font-weight: 600;
  color: #341c0b; 
  text-align: center;
  margin: 0;
  font-stretch: 150%;
}